:root {
    --primary-color: #e4572e;
    --secondary-color: #76b041;
    --tertiary-color : #c5c3c6;
    --font-color: #dcdcdd;
    --background-color : #46494c;
    --primary-font : 'Barlow Condensed', sans-serif;
    --secondary-font : 'Montserrat', sans-serif;
    --transition-property: 0.3s ease-in-out;
  }

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: var(--background-color);
    padding: 8px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr repeat(3, 6fr);
    gap: 8px;
    height: 97vh; /* 100% of the viewport height */
    text-align: center;
}

.grid-item {
    /* border: 2px solid #ccc; */
    padding: 8px;
    color: var(--font-color);
    font-family: var(--secondary-font);
}

.navBar { grid-area: 1/1/1/3; }
.stopwatchRow{ grid-area: 2/1/2/2; }
.angleRow{ grid-area: 3/1/3/2; }
.repRow{ grid-area: 4/1/4/2; }
.videoInput{ grid-area: 2/2/4/3; }
.buttonRow{ grid-area: 4/2/4/3;}

.navBar{
    background-color: var(--secondary-color);
    font-family: var(--primary-font);
    font-size: xx-large;
    font-weight: 900;
    text-align: left;
    padding-left: 16px;
    transition: padding-left var(--transition-property);
    border-radius: 8px;
}

.navBar:hover{
    padding-left: 24px;
}

.stopwatchRow:hover{
    color: var(--primary-color);
}

button {
    padding: 8px 16px;
    font-size: medium;
    text-align: center;
    border-radius: 8px;
    text-decoration: none;
    box-shadow: none;
    border:none;
    transition: background-color var(--transition-property)
}

button:hover{
    text-decoration: none;
    box-shadow: none;
    border:none;
    background-color: var(--secondary-color);
}

.myCanvas{
    background-color: var(--tertiary-color);
    border: #c5c3c6;
}
.stopwatchRow{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    vertical-align: middle;
}

.buttonDiv{
    padding: 8px;
}

#timer{
    font-size: x-large;
}

.buttonRow{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    vertical-align: middle;
}